In [11]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
url = "https://www.cars24.com/buy-used-car?sort=bestmatch&serveWarrantyCount=true&gaId=776885423.1723467593&listingSource=FilterTags&storeCityId="

In [15]:
year =[]
make = []
model = []
fuel_type = []
price = []
km_driven = []
transmission = []
wheels = []
EMI_per_month = []
location = []

In [16]:
city_codes = ['4709','2','2378','3686','1692','5','777']
soup = []

for code in city_codes:
    response = requests.get(url + code)
    response = BeautifulSoup(response.content,'html.parser')
    soup.append(response)

for soup in soup:
    car_details = soup.find_all('h3', {'class':'_11dVb'})
    
    #year,make,model
    for detail in car_details:
        detail_list = detail.text.strip().split(" ")
        #year 
        car_year = detail_list[0]
        year.append(car_year)
        #make of the car
        car_make = detail_list[1]
        make.append(car_make)
        #model of the car
        car_model1 = detail_list[2]
        car_model2 = detail_list[3]
        model.append(car_model1 + " " + car_model2)
        
    #fueltype
    ul = soup.find_all('ul', {'class':'_3J2G-'})
    for li in ul: 
            count = li.text.split("km")[1]
            if 'CNG' in count :
                fuel_type.append('CNG')
            else :
                count = count[0:6]
                fuel_type.append(count)
                
    #prices
    prices = soup.find_all('strong', {'class':'_3RL-I'})
    # Loop through and print each price
    for cost in prices:
            count = cost.text.replace(' Lakh',"")
            count = count.replace('₹','')
            price.append(count)
            
    #kilometer_driven
    kilometer = soup.find_all('ul', {'class':'_3J2G-'})
    # Loop through and print each price
    for km in kilometer:
        count = km.text.split(" ")[0]
        km_driven.append(count)
    
    #transmission
    transmission_type = soup.find_all('ul',  {'class':'_3J2G-'} )

    # Loop through and print each price
    for tm in transmission_type:
    
        tm_type = tm.text.split("km")[1]
        if 'CNG' in tm_type :
            count = tm_type[3:]
            transmission.append(count)
        else :
            count =  tm_type[6:]
            transmission.append(count)

    #wheels_type        
    wheels_type = soup.find_all('span', {'class': '_3JoYA'})
    for tag in wheels_type :
        count = tag.text
        wheels.append(count)
    
    #emi per month
    emi = soup.find_all('span',{'class': '_2O0yU'} )
    for tag in emi :
        count =tag.text.split(" ")[2]
        emi_ = count.replace("/month", "").strip()
        emi_ = emi_.replace("₹", "")
        EMI_per_month.append(emi_)
    
    #location
    #pune,new-delhi,mumbai,hyderabad,banglore
    locations = soup.find_all('p',{'class':'_3dGMY'})
    # Loop through and print each price
    for loc in locations:
   
         # Find all the list items (span elements)
        span_elements = loc.find_all('span')
        # The last span element is the location_test
        location_test = span_elements[-1].text
    
        # Add the transmission type to the list
        location.append(location_test)

In [17]:
# Find the minimum length among all lists
min_length = min(len(year), len(make), len(model), len(fuel_type), len(transmission), 
                 len(price),len(km_driven),len(wheels),len(EMI_per_month), len(location))

# Slice all lists to the minimum length
year = year[:min_length]
make = make[:min_length]
model = model[:min_length]
fuel_type = fuel_type[:min_length]
price = price[:min_length]
km_driven = km_driven[:min_length]
wheels = wheels[:min_length]
transmission = transmission[:min_length]
EMI_per_month = EMI_per_month[:min_length]
location = location[:min_length]
df = pd.DataFrame({
    
    'YEAR': year,
    'MAKE' : make,
    'MODEL' : model,
    'FUEL_TYPE': fuel_type,
    'PRICE': price,
    'KM_DRIVEN' : km_driven,
    'TRANSMISSION': transmission,
    'WHEEL_TYPE' : wheels,
    'EMI_PER_MONTH': EMI_per_month,
    'LOCATION' : location

})

In [18]:
df

,YEAR,MAKE,MODEL,FUEL_TYPE,PRICE,KM_DRIVEN,TRANSMISSION,WHEEL_TYPE,EMI_PER_MONTH,LOCATION
0,2015,Hyundai,Creta S,Diesel,8.50,"61,718",Manual,Alloy wheels,"18,481","Garuda Mall, Magrath Road, Bengaluru"
1,2013,Honda,City 1.5L,Petrol,4.64,"84,818",Manual,Alloy wheels,"12,219","Whitefield Main Road, Bhoruka Tech Park, Benga..."
2,2015,Renault,Duster 110,Diesel,5.74,"94,510",Manual,Reg. serviced,"12,768","Bellahalli, Bengaluru"
3,2021,Tata,PUNCH ACCOMPLISHED,Petrol,8.49,"8,945",Automatic,Top Model,"16,160","Garuda Mall, Magrath Road, Bengaluru"
4,2016,Ford,Ecosport TITANIUM,Petrol,6.16,"71,617",Manual,Spl. reg. no.,"12,043","Garuda Mall, Magrath Road, Bengaluru"
...,...,...,...,...,...,...,...,...,...,...
133,2017,Mahindra,KUV 100,Petrol,3.14,"49,462",Manual,Alloy wheels,"6,135","Newtown, Kolkata\n"
134,2018,Hyundai,Verna 1.6,Petrol,7.05,"60,647",Manual,Low run cost,"13,783","Newtown, Kolkata\n"
135,2014,Honda,City 1.5L,Diesel,3.78,"54,754",Manual,Spl. reg. no.,"9,954","Newtown, Kolkata\n"
136,2020,Datsun,Redi Go,Petrol,2.97,"31,958",Manual,Reg. serviced,"5,806","Newtown, Kolkata\n"
137,2018,Maruti,Dzire ZXI,Petrol,5.59,"71,141",Automatic,Reg. serviced,"10,929","Newtown, Kolkata\n"

In [19]:
df.to_csv('E:/internship/cars24webscrapping/cars24.csv')